* {
    box-sizing: border-box;
}

body {
    /* background-color: #CFC0BD; */
    font-family: 'Roboto', sans-serif;
}

main {
    background-color: #e0e0e0;
    height: 750px;
}

.avatar {
    width: 300px;
    height: 300px;
    padding: 15em;
}

.col-sm-10 {
    width: 280px;
}

.form-group {
    margin-bottom: 0.5rem;
}

.col-sm-offset-2 {
    margin-top: 2rem;
}

.container {
    max-width: 960px;
    margin-left:auto;
    margin-right: auto;
    padding: 1rem;
}


.navbar {
    background-color: #586F6B;
}

.container {
    display: flex;
    justify-content: center;
    max-width: 500px;
    margin-top:auto;
    margin-left:auto;
    margin-right: auto;
    padding: 2rem;
}

#name {
    margin-top: 5rem;
}