body {
    /* background-color: #CFC0BD; */
    background-image: url("../img/ForestBackground.jpg");
    font-family: 'Roboto', sans-serif;
}
.titleOfPage {
    text-align: center;
    font-weight: bold;
    font-size: 6rem;
    margin-top: 3.5%;
}
.footprint {
    background-color: #7F9183;
    color: white;
    font-size: 25px;
}
.container {
    display: flex;
    justify-content: center;
    margin-top: 9rem;
}
.score { /*part of sustainability score page*/
    margin-top: 1em;
    font-size: 9em;
    text-align: center;
    font-weight: bold;
}
.buttonCustom {
    border-radius: 40px;
}
