body {
    font-family: 'Roboto', sans-serif;
}
main {
    background-image: url("../img/ForestBackground.jpg");
    height: 100vh;
}
.titleOfPage {
    text-align: center;
    font-weight: bold;
    font-size: 6rem;
    padding-top: 5%;
}
.container {
    display: flex;
    justify-content: center;
    margin-top: 9rem;
}
.score { /*part of sustainability score page*/
    font-size: 9em;
    text-align: center;
    font-weight: bold;
}
.buttonCustom {
    border-radius: 40px;
    padding: 10px 30px;
    background-color: #7F9183;
    color: white;
    font-size: 25px;
}