/* your CSS goes here */
h1 {
    font-weight: 300;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    background-color: cornflowerblue;
}

h2 {
    font-weight: 200;
    font-family: Arial, sans-serif;
    text-align: left;
}

p {
    line-height: 1.5;
}

p:hover {
    background-color:silver;
    color: black;
}