* {
    box-sizing: border-box;
}

/* navbar styling*/
header {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #586F6B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10%;
}
li, a, button {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.links-nav {
    list-style: none;
}
.links-nav li {
    display: inline-block;
    padding: 0px 25px;
}
.links-nav li a {
    transition: all 0.15s ease-out 0.15s;
}
.links-nav li a:hover {
    color: #CFC0BD;
    text-decoration: underline;
}
.aboutUsButton {
    background-color: rgba(127, 145, 131, 1);
    border:none;
    border-radius: 40px;
    transition: all 0.10s ease-out 0.10s;
    padding: 5px 15px;
}
.aboutUsButton:hover {
    background-color: rgba(127, 145, 131, 0.2);
}
.logo {
    max-height: 65px;
}

/* footer styling*/
footer {
    box-sizing: border-box;
    margin: 0;
    background-color: #586F6B;
    display: flex;
    padding: 15px;
    padding-bottom: 0;
    /*position:fixed;*/
    bottom: 0;
    width: 100%;
}

footer p {
    color: white;
    margin-top: 10px;
}

/* index styling */
body {
    /* set the font for the body */
    font-family: 'Roboto', sans-serif;
}

h1 {
    /* set the font and margin for top level heading to make it look nice */
    font-family: 'Raleway', 'Helvetica', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    /* set the margin for all the paragraphs */
    margin-top: 0;
    margin-bottom: 1rem;
}

.container {
    /* set the property for flex box container */
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.footprint {
    /* set the style for buttons */
    background-color: #7F9183;
    color: white;
    font-size: 25px;
    text-align: center;
    width:13em;
    border-radius: 40px;
}

#menu {
    /* set the background image for the main menu */
    background-image: url("../img/background.jpeg");
    height: 550px;
}

#menu .container {
    /* set the left margin for the menu so that it is in the right place */
    margin-left: 120px;
}

#mission {
    /* set the background and line style for the mission text */
    background-color: #e0e0e0;
    line-height: 1.5;
}