/* Universal styles *****************************/
* {
    box-sizing: border-box;
}
body {
    /* set the font for the body */
    font-family: 'Roboto', sans-serif;
}
.container {
    display: flex;
}
.roundButton {
    border-radius: 40px;
}

/* navbar styling********************************/
header {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #586F6B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10%;
}
li, a, button {
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.links-nav {
    list-style: none;
}
.links-nav li {
    display: inline-block;
    padding: 0px 25px;
}
.links-nav li a {
    transition: all 0.15s ease-out 0.15s;
}
.links-nav li a:hover {
    color: #CFC0BD;
    text-decoration: underline;
}
.aboutUsButton {
    background-color: rgba(127, 145, 131, 1);
    border:none;
    transition: all 0.10s ease-out 0.10s;
    padding: 5px 15px;
}
.aboutUsButton:hover {
    background-color: rgba(127, 145, 131, 0.2);
}
.logo {
    max-height: 65px;
}

/* footer styling******************************/
footer {
    box-sizing: border-box;
    margin: 0;
    background-color: #586F6B;
    display: flex;
    padding: 15px;
    padding-bottom: 0;
    bottom: 0;
    width: 100%;
}

footer p {
    color: white;
    margin-top: 10px;
}

/* Login styling ********************************/
.loginPage {
    /* set the background and text style for the main part */
    background-color: #e0e0e0;
    text-align: center;
    height: 750px;
}

dl {
    /* set the margin for the input bar to make it look nice */
    margin-top: 0;
    margin-bottom: 1rem;
}

.col-sm-10 {
    /* set the width for col-sm-2 class */
    width: 280px;
}

.form-group {
    /* set the bottom margin for the input bar */
    margin-bottom: 0.5rem;
}

.col-sm-offset-2 {
    /* set the top margin for col-sm-2 class */
    margin-top: 2rem;
}

.login {
    /* set the style for login button */
    background-color: #7F9183;
    color: white;
    font-size: 25px;
    padding: 5px 35px;
}

.containerLogin {
    /* set the property for flex box container */
    justify-content: center;
    max-width: 500px;
    margin-top:auto;
    margin-left:auto;
    margin-right: auto;
    padding: 2rem;
}
#name {
    /* set the top margin for the name  */
    margin-top: 5rem;
}


/* index styling ***********************************/
h1 {
    /* set the font and margin for top level heading to make it look nice */
    font-weight: 300;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.info {
    /* set the margin for all the paragraphs */
    margin-top: 0;
    margin-bottom: 1rem;
}

.containerIndex {
    /* set the property for flex box container */
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
}
.footprint {
    /* set the style for buttons */
    background-color: #7F9183;
    color: white;
    font-size: 25px;
    text-align: center;
    width:13em;
    border-radius: 40px;
}

#menu {
    /* set the background image for the main menu */
    background-image: url("../img/background.jpeg");
    height: 550px;
}

#menu .containerIndex {
    /* set the left margin for the menu so that it is in the right place */
    margin-left: 120px;
}


.missionContainer div {
     /* set the background and line style for the mission text */
    line-height: 1.5;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.document {
    display: flex;
    width: 960px;
}



/* dashboard css ****************************************/
.avatar img {
    /* set the style of the avatar */
    width: 300px;
    height: 200px;
    margin-top: 5em;
    margin-bottom: 5em;
    margin-left: 5em;
}

.dashboardContainer {
    /* set the text style for both emission containers */
    max-width: 960px;
    margin-left: 30em;
    margin-right: 30em;
    padding: 1rem;
    height: 200px;
}

.chart img {
    /* set the style for the chart */
    width: 700px;
    height: 400px;
    padding: 5em;
    margin-left: 2em;
}

.dashFlexbox {
    display: flex;
}


/*Trivia***************************************/
.TriviaBody {
    background-color: white;
}

.containerTrivia {
    justify-content: center;
    padding-top: 4rem;
    width: 100%;
    padding-bottom: 4rem;
}

.containerTrivia3 {
    justify-content: center;
    width: 100%;
    padding-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem
}


.containerTrivia3 div{
    justify-content: center;
}

.start {
    background-color: #7F9183;
    color: white;
    font-size: 25px;
    border-radius: 40px;
}

.triviagrn {
    background-color: #7F9183;
    color: white;
    font-size: 25px;
    width: 350px;
    height: 200px;
    border-radius: 20px;
}

.triviatan {
    background-color: #DDD5D0;
    color: black;
    font-size: 25px;
    width: 350px;
    height: 200px;
    border-radius: 20px;
}

.buttonbody {
    padding-top: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.question {
    font-weight: bold;
}

.content {
    padding: 1rem;
}

.message {
    color: #7F9183;
    font-weight: bold;
}

.explanation {
    background-color: #DDD5D0;
    border-radius: 20px;
    padding: 20px;
}

