* {
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

main {
    background-color: white;
    height: 750px;
}

.navbar {
    background-color: #586F6B;
}

.container {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
}

.footprint {
    background-color: #7F9183;
    color: white;
    font-size: 25px;
}