* {
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

main {
    background-color: white;
    height: 750px;
}

.navbar {
    background-color: #586F6B;
}

.container {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    width: 100%;
}

.start {
    background-color: #7F9183;
    color: white;
    font-size: 25px;
}

.trivia {
    background-color: #7F9183;
    color: white;
    font-size: 25px;
    width: 350px;
    height: 200px;
    border-radius: 20px;
}

.buttonbody {
    padding-top: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.question {
    font-weight: bold;
}

.content {
    padding: 1rem;
}

.message {
    color: #7F9183;
    font-weight: bold;
}

.explanation {
    background-color: #DDD5D0;
    border-radius: 20px;
    padding: 20px;
}